<img
  style="height: 100px"
  src="../../../../assets/aum.png"
  class="rounded mx-auto d-block mt-5"
  alt="Picture of Aum"
/>
<h2 class="text-center mt-5">What are Vedas?</h2>
<hr class="border border-2 opacity-50" />
<p class="indent">
  The <strong>Vedas</strong> (/veɪdəz/) are a large body of religious texts
  originating in ancient India. Composed in Vedic Sanskrit, the texts constitute
  the older layer or Sanskrit literature and the oldest scriptures of Hinduism.
</p>
<p class="indent">
  There are four Vedas: the Rigveda, the Yajurveda, the Samaveda and the
  Atharvaveda. Each Veda has four subdivisions - the Samhitas (mantras and
  benedictions), the Brahmanas (commentaries on and explanation of rituals,
  ceremonies and sacrifices - Yajnas), the Aranyakas (text on rituals,
  ceremonies, sacrafices and symbolic-sacrifices), and the Upanishads (texts
  discussing meditation, philosophy and spiritual knowledge). Some scholars add
  a fifth category - the Upasanas (worship)
</p>
<p class="indent">
  Vedas are <em>śruti</em> ("what is heard"), distinguishing them from other
  religious texts, which are called <em>smr̥ti</em> ("what is remembered").
  Hindus consider the Vedas to be <em>apauruṣeya</em>, which means "not of a
  man, superhuman" and "impersonal, authorless", revelations of sacred sounds
  and texts heard by ancient sages after intense meditation.
</p>
<hr class="border border-2 opacity-100" />
<p>
  Wikipedia. 2024. <cite>"Vedas"</cite> Wikimedia Foundation. Last modified June
  5, 2024.
  <a href="https://en.wikipedia.org/wiki/Vedas"
    >https://en.wikipedia.org/wiki/Vedas</a
  >.
</p>
